/*
.profile{
    background-color: red;
}
.contents{
    background-color: blue;
}
.section-resume-container{
    background-color: green;
}
*/

/*behaiours*/
form:hover{
   animation: formGlow 2s infinite
}

@keyframes formGlow {
    0% { box-shadow: 0px 0px 30px darkcyan;}
    50% {box-shadow: none;}
    100% { box-shadow: 0px 0px 30px darkcyan;}
    
}


textarea:focus, input:focus{
   outline-color: darkcyan;
   transition: 0.5s;
}
/*behaiours*/


form{
    width: 20rem;
    height: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: transparent;
    
    box-shadow: 1px 4px 8px darkcyan;
    color: lightcyan;
    border-radius: 12px;
    cursor: default;
}

.form-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.feedback-form label, .feedback-form h1{
    font-size: 1.2rem;
}

.feedback-form h1{
    margin-top: 1rem;
    margin-bottom: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.email-container, .name-container{
    display: block;
    justify-content: stretch;
    align-items: stretch;
    column-gap: 1rem;
}

.submit-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
}

.submit-button:hover{
    background-color:  lightcyan;
    border: 1px solid darkcyan ;
    box-shadow: 0px 0px 8px darkcyan;
    color: black;
    transition: 0.3s;
}

.submit-button{
    box-shadow: 0px 0px 8px darkcyan;
    text-align: center;
    height: 2rem;
    width: 10rem;
    border-radius: 0.5rem;
}

.form-section input{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 8px darkcyan;
}


/*ID*/
#name, #email, #subject, #message{
    height: 1.8rem;
    width: 19.5rem;
    border-radius: 5px;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    padding-left: 0.5rem;
    border: none;
    box-shadow: 0px 0px 8px darkcyan;
}

#message{
    resize: none;
    overflow: auto;
    padding: 0.5rem;
    width: 18.7rem;
    height: 10rem;
    display: flex;
    justify-content: start;
    text-align: start;
}
/*ID*/


/*Media Screen*/
@media screen and (min-width:300px) and (max-width: 700px) {
    form{
        width: 15rem;
        height: auto;
        margin-bottom: 2rem;
    }

    .feedback-form label, .feedback-form h1{
        font-size: 1rem;
    }

    #name, #email, #subject, #message{
        height: 1.5rem;
        width: 14.3rem;
        border-radius: 5px;
        margin-top: 0.2rem;
        margin-bottom: 1rem;
        font-size: 1rem;
        padding-left: 0.5rem;
        border: none;
    }

    #message{
        width: 13.8rem;
        height: 7rem;
        border: none;
    }
}

@media screen and (min-width: 701px) and (max-width: 1300px){
    form{
        margin-top: 10rem;
        width: 18rem;
    }
    #name, #email, #subject, #message{
        height: 1.5rem;
        width: 17rem;
        border-radius: 5px;
        margin-top: 0.2rem;
        margin-bottom: 1rem;
        font-size: 1rem;
        padding-left: 0.5rem;
        border: none;
    }
    #message{
        width: 16.6rem;
        height: 5rem;
        border: none;
        margin-bottom: 1.5rem;
    }
    .submit-button{
        margin-bottom: 0.5rem;
    }
}

@media screen and (min-width: 901px) and (max-width: 1000px) {
    form{
        margin-bottom: 10rem;
    }
}
/*Media Screen*/