/*html elements styles*/
body, main, h1, p, button, a, label, ul, li, nav, footer, header, form{
    all: unset;
    display: revert;
}

body, html {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem; /* 16px */
    line-height: 1.5; /* 24px */
    background-color: black ;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

/*
header{
    font-size: 1.5rem;
    background-color: darkcyan;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}*/

h1 {
    font-size: 2rem; /* 32px */
    line-height: 1.2; /* 38.4px */
}

h2 {
    font-size: 1.5rem; /* 28px */
    line-height: 1.2; /* 33.6px */
}

h3 {
    font-size: 1rem; /* 24px */
    line-height: 1.3; /* 31.2px */
}

h4 {
    font-size: 1rem; /* 20px */
    line-height: 1.3; /* 26px */
}

h5 {
    font-size: 1rem; /* 16px */
    line-height: 1.4; /* 22.4px */
}

h6 {
    font-size: 0.875rem; /* 14px */
    line-height: 1.4; /* 19.6px */
}

a{
    text-decoration: none;
    cursor: pointer;
}

p {
    font-size: 1rem; /* 16px */
    line-height: 1.5; /* 24px */
}

small {
    font-size: 0.875rem; /* 14px */
}

button {
    font-size: 1rem; /* 16px */
}

label {
    font-size: 0.875rem; /* 14px */
}

/* Remove bullet points from unordered list */
ul {
    list-style-type: none; /* Remove default bullet points */
    padding: 0; 
    margin: 0;  
}

/* Optional styling for list items */

ul li {
    padding: 1px 0;    
    cursor: pointer; 
}



nav{
    padding-top: 1rem;
    padding-bottom: 1rem;
    right: 0;
    left: 0;
    font-size: 1.2rem;
}

footer{
    margin-bottom: -0.5rem;
    bottom: 0;
}

details{
    cursor: pointer;
}
