/*behaviors style*/
 .navbar a:hover, a h1.headertitle:hover{
    color:darkcyan;
    border-radius: 12px;
    box-shadow: 0 0 8px darkcyan;
    transition: 0.5s;
}

.list-outer-1 a:hover{
    color:darkcyan;
    border: 1px solid darkcyan;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    transition: 0.5s;
}


p.copywrite:hover{
    color:darkcyan;
    transition: 0.5s;
}


.footericon:hover, .w3schools-icon:hover, .footericon1:hover{
    transform: scale(120%); 
    transition: 0.5s;
}

/*Navigation Bar*/
.navbar a.hamburgericon:hover{
    background-color: white;
    color: black;
    clip-path: circle();
    transition: 0.5s;
}
/*Navigation Bar*/

/*Stack Set*/
.resumebutton:hover{
    transition: 0.3s;
    background-color:  rgb(207, 233, 232);
    box-shadow: 0 0px 12px darkcyan;
    color: black;
    transition: 0.5s;
    cursor: pointer;
}


.btns button:hover{
    border: none;
    background-color:  lightcyan;
    box-shadow: 0 0 12px lightcyan;
    color: black;
    transition: 0.5s;
}


/*Stack Set*/

/*Footer
.ulf img.footericon:hover, .w3schools-icon:hover{
    box-shadow: 0px 0px 1px 1px;
    box-sizing:unset;
    box-decoration-break: slice;
}
/*Footer*/

/*Screen: 700-300px*/
@media screen and (min-width:300px) and (max-width: 700px) {


    .body{
        display: block;
    }
    /*Header*/
        header{
            width: 100%;
            height: 0rem;
            padding-bottom: 0rem;
            position: fixed;
            z-index: 3;
        }
        
        .titlecontainer{
            display: none;
        }
        
        /*Navigation Bar*/
            .navbar{
                padding-top: 0rem;
                padding-left: 0rem;
                padding-bottom: 1.5rem;
                height: 1rem;
                column-gap: 2rem;
                position: fixed;
                z-index: 2;
            }
            .navbar .nav-ul{
                display: none;
            }

            .navbar .header-ul{
                display: flex;
                width: 100%;   
                padding-top: 0.1rem;
                padding-bottom: 2.5rem;  
                column-gap: 2rem;   
            }
            abbr{
                text-decoration: none;
            }

            .header-ul .titlebar{
                width: 100%;
            }
            .hmbicon{
                display: block;
                justify-content: center;
                align-items: center;
                padding-bottom: 0rem;
                margin-left: 0.5rem;
                border-radius: 50%;
                height: auto;
                width: 2.5rem;
                cursor: pointer;
                margin-top: 0.3rem;
                outline: none;
                -webkit-tap-highlight-color: transparent;
            }

            .hamburgericon{
                margin-left: -0.4rem;
                cursor: pointer;
                outline: none;
                -webkit-tap-highlight-color: transparent;
            }

            .navbar-title a{
                text-decoration: none;
                outline: none;
                -webkit-tap-highlight-color: transparent;
                color: inherit;
                background-color: transparent;
            }

            .navbar-title a:focus{
                outline: none;
                background-color: transparent;
            }

            .navbar-title a:hover{
                outline: none;
                background-color: transparent;
            }

            .navbar-title a:active{
                outline: none;
                background-color: transparent;
            }

            .navbar-title{
                display: block;
                text-align: center;
                height: 2.4rem;
                width: 4rem;
                top:0;
                margin-top: -0.1rem;
                padding-right: 1.2rem;
            }

            #screen-width-height2{
                display: none;
                position: relative;
                margin-top: 0.5rem;
                margin-left: -1rem;
                width: 15rem;
                height: 2rem;
                font-size: 0.6rem;
            }

            .navbar-title a{
                cursor: pointer;
                margin-top: 2.2rem;
            }

            .navbar-title a h1.headertitle{
                font-size: 1.5rem;
                margin-top: -1.9rem;
            }

            #nav-menu{
                display: none;
                z-index: 6;
                width: 9rem;
            }

            #nav-menu ul{
                margin-top: -0.93rem;
                padding-top: 2.5rem;
                padding-left: 1.2rem;
                padding-right: 1.2rem;
                background-color: black;
                box-shadow: 0 0 8px darkcyan;
            }

            #nav-menu ul li{
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
            }
            .last-item{padding-bottom: 0.6rem;}
            
            #nav-menu.active{
                transition:  max-heigh 1s ease;
                display: block;
                height: 10px;
                max-height: 500px;
            }

        /*Navigation Bar*/
    /*Header*/

    /*Profile*/
        .profile{
            position: relative;
            margin-top: 0rem;
            margin-bottom: 0rem;
            padding-left: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 2rem;
            z-index: 1;
        }
        /*Intro*/
            .intro{
                text-align: right;
                font-size: 1rem;
                margin-top: 0rem;              
            }

            .intro b.name{
                font-size: 1.6rem;
            }
        /*Intro*/


        /*Image*/
            .myimage {
                width: 10rem;
                height: auto;
                margin-top: 4.5rem;    
            }
        /*Image*/
    /*Profile*/

    /*Content*/
        /*Description*/
            .contents{
                z-index: 2;
                padding: 0.5rem;
                margin-top: 0.5rem;
                margin-bottom: 1rem;
                margin-right: 2rem;
                border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;
                width: auto;
            }

            .description{
                width: 100%;        
            }

            .description p{
                font-size: 0.88rem;    
                padding: 1rem;
            }

            .description b.greeting{
                font-size: 1rem;
            }
        /*Description*/

            
        /*Stack Set*/
            .stackcontainer .button{
                display: none;
            }    

            .stackcontainer{
                display: none;
            }
        
            .stackcontainer:hover{
                background-color: lightcyan;
                color: black;
                cursor:pointer;
            }

            .in-stackcontainer{
                font-size: 0.88rem;
            }
        
            .in-stackcontainer ul{
            display: none;
            }
            

            div.resume-container{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0.5rem;
                height: 2rem;
                width: auto;

            }
            
            .resumebutton{
                display: flex;
                justify-content: center;
                height: 2rem;
                width: 15rem;
                border-radius: 0.5rem;
                padding-top: 0.4rem;
                margin-top: 2rem;
                box-shadow: 0 0 8px darkcyan;
            }

            .resumebutton img{
                padding-bottom: 0.4rem;
            }

        /*Stack Set*/
    /*Content*/
    
    .skills-area h1, .expeience-area h1{
        font-size: 1.5rem;
    }


    img.tech-icon{
        object-fit: fill;
        cursor: pointer;
    }

    .projects-images h1, .education-area h1{
        font-size: 1.5rem;
    }


    .projects-images, .skills-area{
        margin-top: 2.5rem;
        margin-bottom: 2rem;
        text-align: center;
    }
    .projects-images figure img{
        width: 15rem;
        height: auto;
    }

    .expeience-area h1{
        margin-bottom: 1rem;
    }
    
    .expeience-area{
        margin-bottom: 2rem;
    }

    .expeience-area h2, .expeience-area h3, .education-area h2{
        margin-top: 0rem;
        font-size: 1rem;
    }

    .job-description{
        margin-left: 2rem;
        margin-right: 2rem;
        text-align: left;
    }

    .job-description h2, .job-description p {
        font-size: 1rem;
    }

    .job-description p {
        margin-bottom: -0.2rem;
    }

    .job-description details{
        font-size: 0.8rem;
    }
   
   
    .educational-background-college{
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .educational-background-college h2{
        font-size: 0.9rem;
    }
    p.school-address, #school-addrs{
        font-size: 0.8rem;
    }

    p#date-of-gradation{
        font-size: 0.8rem;
    }



    
    /*Footer*/
        .footerb{
            margin-top: -2rem;
            display: block;
        }
        .ulf{
            display: block;
            padding-top: 1rem;
            padding-bottom: 1rem;
            margin-left: 5rem;
            margin-right: 5rem;
            font-size: 0.8rem; 
        
        }
        .l1{
            margin-bottom: -0.8rem;    
        }

  
        .list-outer-2-2 img{
            width: 2rem;
            height: auto;
            object-fit: fill;
        }

        p.copywrite{
            margin-top: 0.4rem;
            font-size: 1rem;
            text-align: center;
        }   

        /*.list-outer-1, .list-outer-2, .list-outer-3, .ulf, .w3schools-icon{
            border: 1px solid blue;
        }*/

        .list-outer-1 div, .list-outer-2 div, .list-outer-3 div{
            text-align: center;
            font-size: 1rem;
        }
        

        .ulf img.footericon{
            width: 3rem;
            height: auto;
            object-fit: fill;
            cursor: pointer;
            margin-bottom: 0.5rem;
        }
        .w3schools-icon{
            width: 3rem;
            cursor: pointer;
            margin-bottom: 0.5rem;
        }
  
    /*Footer*/
}
/*Screen: 700-300px*/


/*Screen: 800px-701px*/
@media screen and (min-width:701px) and (max-width:800px) {
    main{
        margin: 0;
        padding: 0rem 2rem 0rem 2rem;
       }
}


/*Screen: 1000px-701px*/
@media screen and (min-width: 701px) and (max-width: 1300px){
    main{
        margin: 0rem 3rem 0rem 3rem;
        padding: 0rem 2rem 0rem 2rem;
       }
    /*Header*/
        .header{
            display: block;    
            z-index: 3;
        }

        .navbar{
            z-index: 2;  
        }
        .titlecontainer{
            margin-top: 0.1rem;
        }

        .navbar a{
            font-size: 1.2rem;
        }

        #screen-width-height1{
            font-size: 0.6rem;
        }
        #nav-menu{
            display: none;
        }
    /*Header*/

    /*Nav Bar*/

    /*Nav Bar*/

    /*Profile*/
        .profile{
            margin-top: 15rem;
            margin-bottom: 10rem;
            height: auto;
           
            column-gap: 0rem;
            z-index: 1;
        }
        .introcontainer{
            margin-top: 5rem;
            margin-left: 2rem;
        }
        .intro{ 
            text-align: right;
            font-size: 2rem;
            padding-bottom: 5rem;
        }
        .intro .name{
            text-align: right;
            font-size: 2.5rem;
        } 
        /*Figure*/
            .imgcontainerinner{
                margin-right: 2rem;
                width:50%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: transparent;  
            }
            /*Image*/
                .myimage{
                    margin-right: 2.5rem;  
                    width: 20rem;
                    height: auto; 
                    background-color: transparent;             
                }
            /*Image*/
        /*Figure*/
    /*Profile*/
    
    /*Content*/
        .contents{
            margin-top: 0rem;
            margin-bottom: 10rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin-left: -5rem;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            flex-wrap: wrap;
            width: auto;
        }
        .description p{
            font-size: 1rem;
            text-align: left;
        }

        .description b.greeting{
            font-size: 2rem;
        }
        
        .resume-area{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10rem;
        }

        .btns { 
            /*Buttons*/
            display: block;
        }
        
        .stackcontainer{
            flex-wrap: wrap;
        }

    /*Content*/ 

    .projects-images figure img{
        width: 20rem;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .projects-images{
        display: grid;
        text-align: center;
    }
 
    /*Footer*/
        .l1{
            margin-bottom: -0.8rem;
        }
        .ulf{
            display: flex;
            justify-content: center;
            align-items: center; 
            column-gap: 7rem;  
        }
        .list-outer-2 div, .list-outer-3 div, .list-outer-1 div{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .ulf img.footericon{
            width: 2rem;
            height: auto;
            object-fit: fill;
            cursor: pointer;
        }
        p.copywrite{
            text-align: center;
        }
        /*
        .list-outer-1, .list-outer-2, .list-outer-3{
            border: 1px solid blueviolet;
        }
    /*Footer*/
}
/*Screen: 1000px-900px*/


/*Screen: 1500px-1300px*/
@media  screen and (min-width: 1300px)and (max-width: 1500px) {

    main{
        margin: 0rem 12rem 0rem 12rem;
        padding: 0rem 2rem 0rem 2rem;
       }

    .header{
        z-index: 3;
    }

    .navbar{
        z-index: 2;
    }

    #nav-menu{
        display: none;
    }
    /*Profile*/
    .profile{
        margin-top: 12rem;
        margin-bottom: 12em;
        column-gap: 0rem;
        z-index: 1;
    }
    .intro{ 
        text-align: left;
        font-size: 1.5rem;
        padding-bottom: 5rem;
    }
    .intro .name{
        text-align: right;
        font-size: 2rem;
    } 

    .myimage{
        width: 18rem;
        height: auto;
    }
    /*Profile*/

    /*Content*/
    .contents{
        margin-bottom: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -14rem;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        width: auto;
    }

    .description p{
        font-size: 1rem;
        text-align: left;
    }

    .description b.greeting{
        font-size: 2rem;
    }

    .btns { 
        /*Buttons*/
        display: block;
    }
    
    .stackcontainer{
        flex-wrap: wrap;
        margin-bottom: 10rem;
    }

    .projects-images{
        display: grid;
        text-align: center;
    }

/*Content*/ 

    .form-section{
        margin-top: 10rem;
        margin-bottom: 10rem;
    }

    .ulf{
        column-gap: 8rem;
    }

    
    .ulf img.footericon{
        width: 2.5rem;
        height:  auto;
        object-fit: fill;
        cursor: pointer;
    }

    .list-outer-2 div, .list-outer-3 div, .list-outer-1 div{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footerb p.copywrite{
        text-align: center;
    }

}
/*Screen: 1500px-1300px*/



/*Screen: 5900px-1500px*/
@media screen and (min-width: 1500px) and (max-width: 5900px){
    main{
        margin: 0rem 20rem 0rem 20rem;
        padding: 0rem 2rem 0rem 2rem;

       }
    /*Header*/
        header{
            z-index: 4;
            position: absolute;
        }
        /*Nav Bar*/
            .navbar{
                z-index: 3;
            }
            #nav-menu{
                display: none;
            }
        /*Nav Bar*/
    /*Header*/

    /*Profile*/
        .profile{
            margin-top: 12rem;
            margin-bottom: 12em;
            z-index: 2;
        }
        .intro{ 
            text-align: left;
            font-size: 2.2rem;
            padding-bottom: 5rem;
        }
        .intro .name{
            text-align: right;
            font-size: 2.9rem;
        } 

        .myimage{
            z-index: 1;
        }
    /*Profile*/


    /*Stack Set*/
        /*Contents*/
            .contents{
                margin-top: 0rem;
                margin-bottom: 10rem;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0rem;
                margin-left: -22rem;
                border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;
                width: auto;
            }

            .description p{
                font-size: 1rem;
                text-align: left;
            }

            .description b.greeting{
                font-size: 2rem;
            }

            .resume-area{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 10rem;
            }

            .btns { 
                /*Buttons*/
                display: block;    
            }
            
            
        /*Contents*/  
    /*Stack Set*/

    /*
    .list-outer-1, .list-outer-2, .list-outer-3{
        border: 1px solid red;
    }  */

    .projects-images{
        display: block;
        text-align: center;
        grid-column: 1;
    }

 


    .projects-images div{
        width: auto;
        margin-bottom: 2rem;
    }

    .projects-images figure{
        margin-bottom: 4rem;
    }



    .form-section{
        margin-top: 12rem;
        margin-bottom: 12rem;
    }
    /*Footer*/

    .footerb{
        display: block;
        justify-content: center;   
        align-items: center; 
        bottom: 0;
        text-align: center;
    }
        .ulf{
            column-gap:15rem;
        }
        .list-outer-2 div, .list-outer-3 div, .list-outer-1 div{
            display: flex;
            justify-content: center;   
            align-items: center; 
        }
        .list-outer-3{
            margin-bottom: 2rem;
        }
        p.copywrite{
            text-align: center;
        }

        .ulf img.footericon{
            width: 2.5rem;
            height:  auto;
            object-fit: fill;
            cursor: pointer;
        }


    /*Footer*/
}
/*Screen: 5900px-1000px*/