<!DOCTYPE html>
<html lang="en-US">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Marlou Jake">
        <meta name="title" property="og:title" content="Portfolio Page">
        <meta name="Keywords" content="Portfolio">
        <meta name="Description" content="Portfolio of Marlou Jake Napoli's Projects">

        <title>Portfolio - Marlou Jake Napoli</title>  
        <link rel="icon" type="image/x-icon" href="/images/icpeplogo.ico">
        <link rel="stylesheet" href="../homepage/styles/main.css">
        <link rel="stylesheet" href="../homepage/styles/body_content_style.css">
        <link rel="stylesheet" href="../homepage/styles/nav_style.css">
        <link rel="stylesheet" href="../homepage/styles/form.css">
        <link rel="stylesheet" href="../homepage/styles/behavior/behaviors.css">
        <link rel="stylesheet" href="../homepage/styles/responsive_style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

        <script src="../homepage/scripts/scripts.js" defer></script>
    </head>


    <body class="body"  id="main-top">
        <header class="header" id="top-again">
            <nav class="navbar">   
                <div class="titlecontainer">
                    <a class="titlelink" href="../homepage/index.html" title="Portfolio">Porfolio</a>
                </div>

                <ul class="nav-ul" >
                    <li class="homelink">
                        <a  class="home" id="homepage" title="Home">Home</a>
                    </li>
                    <li class="aboutmelink">
                        <a href="javascript:void(0)" class="aboutme" id="about" title="About Me">About Me</a>      
                    </li> 
                    <li>
                        <a href="javascript:void(0)" id="contacts" title="Contacts">Contacts</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" id="resume" title="Resume">Resume</a>
                    </li>
                    <li>
                        <p id="screen-width-height1"></p>
                    </li>
                </ul> 
                
                <ul class="header-ul" id="small-return">
                    <li class="menu"  >
                        <div class="hmbicon">
                            <a href="javascript:void(0)" class="hamburgericon" id="hamburger-icon" name="buttons" title="Menu">&#9776;</a>                  
                        </div>    
                    </li>      
                    
                    <li class="titlebar">
                        <div class="navbar-title">                            
                            <a id="nav-name" class="title" href="javascript:void(0)" name="buttons"><h1 id="screen2" title="MJN" class="headertitle"><abbr title="Marlou Jake Napoli">MJN</abbr></h1></a>   
                        </div>
                    </li>     
                    <li>
                        <h3 id="screen-width-height2"></h3>
                    </li>  
                </ul>      
            </nav>

            <nav id="nav-menu">
                <ul>
                    <li >
                        <a class="nav-link" href="javascript:void(0)" id="to-home">
                            Home
                        </a>   
                    </li>
                    <li >
                        <a class="nav-link" href="javascript:void(0)" id="to-about">
                            About Me
                        </a>   
                    </li>
                    <li>    
                        <a class="nav-link" href="javascript:void(0)" id="to-contact">
                            Contacts
                        </a>  
                    </li>
                    <li >
                        <a class="nav-link" href="javascript:void(0)" id="to-resume">
                            Resume
                        </a>   
                    </li>
                    <li >
                        <a class="nav-link" href="javascript:void(0)" id="to-skill">
                            Skills
                        </a>    
                    </li>
                    <li class="nav-link">
                        <a class="nav-link" href="javascript:void(0)" id="to-projects">
                            Projects
                        </a>                      
                    </li>
                    <li > 
                        <a class="nav-link" href="javascript:void(0)" id="to-experience">
                            Experiences
                        </a>    
                    </li>
                    <li class="last-item">
                        <a class="nav-link" href="javascript:void(0)" id="to-education">
                            Education
                        </a>
                    </li>
                </ul>
            </nav>
        </header>

        <main class="main" id="about-me">
           <section class="bodycontent">     
                <section class="profile">
                    <div class="introcontainer">
                        <p class="intro">I'm <b class="name"> <span>Marlou Jake Napoli </span></b><br>Aspiring Developer</p>
                    </div>
                    <figure class="imgcontainerinner">
                            <img  id="view-resume" class="myimage" src="../../images/profile_image.webp" alt="Profile Image">
                    </figure>    
                </section>
             
                <article class="contents">      
                        <div class="description" >
                            <p id="resume-area">
                                <b class="greeting">Hello,
                                </b>
                                <br>I am an aspring<span class="position"> Software/Web Developer &lt;/&gt;</span>.
                                <br>I embarked on this Portfolio Project on<datetime><b><span>June 19, 2024</span></b> </datetime>.
                            </p>
                        </div>            
                </article>

                <section class="resume-area">
                    <div class="stackcontainer">
                        <div class="in-stackcontainer">
                            <ul class="btns">
                                    <li>
                                        <button class="download-button stackbutton" id="download-resume-button" name="buttons">
                                            Download Resume
                                            <img class="download-icon" src="../../images/download-square-svgrepo-com.svg" alt="Download Icon">
                                        </button>
                                    </li>
                                    <li>    
                                        <button class="skillsbutton stackbutton" id="skill-button" name="buttons">
                                            Skills
                                        </button>                                   
                                    </li>
                                    <li>
                                        <button class="projectsbutton stackbutton" id="project-link" name="buttons">
                                            Projects
                                        </button>

                                    </li>
                                    <li>
                                        <button class="experiencebutton stackbutton" id="experience-button" name="buttons">
                                            Experience
                                        </button>
                                    </li>
                                    <li id="skill-view-1">              
                                        <button class="educationalbgbutton stackbutton" id="education-button" name="buttons">
                                            Education
                                        </button> 
                                    </li>                  
                            </ul>
                        </div>  
                    </div>          
                </section>

                <section class="section-resume-container">
                    <div class="resume-container">
                        <button class="resumebutton" id="resume-button" name="buttons">
                            Download Resume
                            <img id="skill-view" class="download-icon" src="../../images/download-square-svgrepo-com.svg" alt="Download Icon">
                        </button>
                    </div>
                </section>

                <section class="skills-area" id="skills-area">
                    <div>
                        <h1 id="skill-sets">
                            SKILLS
                        </h1>
                    </div>
                    <div class="skills-container">

                        <div class="inner-skills-container">
                            <figure>
                                <img class="tech-icon" src="/images/html-5-svgrepo-com.svg" alt="HTML5 Logo" title="HTML5 Logo">
                                <p>Basic<br>HTML</p>
                            </figure>
                            <figure>
                                <img class="tech-icon" src="/images/css-3-svgrepo-com.svg" alt="CSS3 Logo" title="CSS3 Logo">
                                <div><p>Basic<br>CSS</p></div>
                            </figure>

                            <figure>
                                <img class="tech-icon" src="/images/javascript-svgrepo-com.svg" alt="JavaScript Logo" title="JavaScript Logo">
                                <p>Basic<br>JavaScript</p>
                            </figure>

                            <figure>
                                <img class="tech-icon" src="/images/c-sharp-svgrepo-com.svg" alt="C Sharp Logo" title="C Sharp Logo">
                                <p>Basic<br>C#</p>
                            </figure>

                            
                            <figure>
                                <img class="tech-icon" src="/images/dotnet-svgrepo-com.svg" alt="DotNet Logo" title="DotNet Logo">
                                <p>Framework</p>
                            </figure>

                            <figure>
                                <img class="tech-icon2" src="/images/vb-svgrepo-com.svg" alt="VB.NET Logo" title="VB.NET Logo">
                                <p>Basic<br>VB.NET</p>
                            </figure>

                            
                            <figure>
                                <img class="tech-icon" src="/images/python-svgrepo-com.svg" alt="Python Logo" title="Python Logo">
                                <p>Basic<br>Python</p>
                            </figure>

                             
                            <figure>
                                <img class="tech-icon2" src="/images/c-plus-plus-svgrepo-com.svg" alt="C-plus-plus Logo" title="C-plus-plus Logo">
                                <p>Basic<br>C++</p>
                            </figure>
             
                            <figure>
                                <img class="tech-icon2" src="/images/mysql-logo-svgrepo-com.svg" alt="MySQL Logo" title="MYQL Logo">
                                <p id="project-view">Basic<br>MYSQL</p>
                            </figure>
                         
                        </div>
                        
                    </div>
                </section>
                
                <section class="projects-images"> 
                    <div>
                        <h1 id="projects-title">
                            PROJECTS
                        </h1>
                    </div>
                    <figure class="project-1" id="project-1">
                        <img class="project" src="/images/thesis-project-interface.png" alt="Project 1">
                        <a href="../pages/feeture-under-development.html" title="Click to learn more about the project"><caption>Design Project Interface</caption></a>
                    </figure>
                    
                    <figure id="project-2">
                        <img class="project" src="/images/Commisioned Project.png" alt="Project 2">
                        <a id="experience-view" href="../pages/feeture-under-development.html" title="Click to learn more about the project"><caption>Commisioned Project Interface</caption></a>
                    </figure>
                </section>
                
                <section class="expeience-area">
                    <div>
                        <h1>
                            EXPERIENCES
                        </h1>
                    </div>

                    <div class="job-description">
                        <h2>
                            ROBOTICS SPECIALIST<br>
                            <a href="https://techfactors.com/" title="Visit Techfactors Inc Website"><span class="orange">Techfactors Incorporation</span></a>
                            <p>Academy Department</p>
                            <p><datetime>February 2024</datetime> - <datetime>Present</datetime></p>
                        </h2>
                        <article>
                            <details  id="education-view">
                                <ul class="work-description">
                                    <li>Executed Robotics Curriculum Training Program for the clients of the company   
                                    </li>
                                    <li>
                                        Actively engaged in continuous learning and practice of robotics concepts for grade school to high school
                                    </li>
                                    <li>
                                        Provided support for company and client events related to robotics, ensuring smooth operation and customer satisfaction.
                                    </li>
                                    <li>
                                        Managed inventory of robotics kits, including forecasting and preparing requested kits.
                                    </li>
                                    <li >
                                        Handled Robotics Kits Request Form
                                    </li>
                                </ul>
                            </details>
                        </article>
                    </div>
                </section>

                <section class="education-area">
                    <div>
                        <h1>
                            EDUCATION
                        </h1>
                    </div>

                    <div class="educational-background-college">
                        <article>
                            <h2>
                                Bachelor of Science in Computer Engineering<br>
                                <p class="school-address"><span class="school-name">Univeristy of Cagayan Valley</span></p>
                                <address id="school-addrs">Balzain East, Tuguegarao City, Cagayan Valley Ph</address>
                                <p id="date-of-gradation"><datetime>August 2019</datetime> - <datetime>June 2023</datetime></p>
                            </h2>
                        </article>
                       
                    </div>
                </section>

                <section class="form-section">
                    <form class="feedback-form" name="feedback-form" id="feedback-form" method="post">
                        <div>   
                                <h1>Feedback</h1>
                        </div>
                     
                        <div class="name-container">
                                <label for="name">
                                    Name
                                </label>
                                <input name="name-input" id="name" type="text" placeholder="Name" autocomplete="username" required="true">     
                        </div> 

                        <div class="email-container">
                                <label for="email">
                                    Email
                                </label>
                                <input name="email-input" id="email" type="email" placeholder="Email" autocomplete="email" required="true">
                        </div>

                        <div class="subject-container">
                                <label for="subject">
                                    Subject
                                </label>
                                <input name="subject-input" id="subject" type="text" placeholder="Subject">
                        </div>

                        <div>
                                <label for="message">
                                    Message
                                </label>
                                <textarea name="message-input" id="message" required="true" placeholder="Your Message"></textarea>
                        </div>

                        <div class="submit-div" title="Submit">
                            <button class="submit-button" id="submit-button" name="buttons" type="submit"> 
                                Submit
                            </button>
                        </div>

                    </form>
               </section>
           </section>    
        </main>

        <footer class="footerb">  
            <ul class="ulf">
                <li class="list-outer-2">
                    <div>
                        <ul>
                            <li>
                                <dt class="dt-footer"><b>Contacts</b></dt>
                            </li>
    
                            <li class="list-outer-2-2">  
                                <div>
                                    <a href="https://www.facebook.com/marloujake.labadnapoli?mibextid=ZbWKwL">
                                        <img class="footericon" src="/images/facebook.svg" alt="Facebook Logo" title="Facebook">
                                    </a>
                                </div>

                                <div>
                                    <a href="https://x.com/NJeiku?t=lgjKOl5V9pPnK25202q-VQ&s=09">
                                        <img class="footericon footericon1" src="/images/11244080_x_twitter_elon musk_twitter new logo_icon.svg" alt="X Logo" title="X">
                                    </a>
                                </div>

                                <div>
                                    <a href="https://www.linkedin.com/in/marlou-jake-napoli-59b7b327a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
                                        <img class="footericon" src="/images/linkedin.svg" alt="LinkedIn Logo" title="LinkedIn">
                                    </a>
                                </div>     
                                
                                <div>
                                    <a href="https://github.com/JakeJake05">
                                        <img class="footericon" src="/images/github-142-svgrepo-com.svg" alt="GitHub Logo" title="GitHub">
                                    </a>
                                </div>
                                <div>
                                    <address>
                                        <a href="mailto:napoli.marloujake@gmail.com">
                                            <img class="footericon" src="/images/icons8-gmail.svg" alt="Gmail Logo" title="Gmail">
                                        </a>
                                    </address>
                                </div>
                            </li>
                        </ul>           
                    </div>          
                </li>

                <li class="list-outer-3" id="contact">
                    <div>
                        <dt class="dt-footer">
                            <b>
                                Learned From
                            </b>
                        </dt>
                    </div>

                    <div>
                        <a href="https://www.w3schools.com/">
                            <img class="w3schools-icon" src="/images/w3schools.png" alt="W3Schools Logo" title="Visit W3Schools">
                        </a>     
                    </div>

                </li>

                <li class="list-outer-1">
                    <div>
                        <dt class="dt-footer">
                            <b>
                                Legal
                            </b>
                        </dt>
                    </div>

                    <div>
                        <a>
                            Terms and Conditions
                        </a>
                    </div>

                    <div>
                        <a>
                            Privacy Policy
                        </a>
                    </div>
                </li>
            </ul>     

            <p class="copywrite">
                &copy; 2024 Marlou Jake Napoli. All rights reserved.
            </p>
        </footer>
    </body>
</html>



