<!DOCTYPE html>
<html lang="en-US">
    <head>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Marlou Jake">
        <meta name="title" property="og:title" content="Portfolio Page">
        <meta name="Keywords" content="Portfolio">
        <meta name="Description" content="Portfolio of Marlou Jake Napoli's Projects">
        <title>
            Feature Under Development
        </title>
        <style>
            @media  screen and (min-width: 300px) and (max-width: 700px) {
                h1{
                    font-size: 1.5rem;
                    text-align: center;
                }
            }
        </style>
    </head>
    <body style="display: grid; justify-content: center; align-items: center;">

        <header style="border-color: 2px solid black; border-top:0; border-left:0; border-right: 0; ">
            <h1>
                Feauture Under Development!
            </h1>
        </header>

        <main style="display: grid; justify-content: center; align-items: center;">
            <section >
                <figure style="display: flex; justify-content: center; align-items: center;">
                    <img src="/images/construction-danger-exclamantion-svgrepo-com.svg" alt="Exclamation Icon" title="Exclamation Icon"
                        height="auto" width="40rem" style="display: flex; text-align: center;">
                </figure>
                <p style="text-align: center;">
                    The feature is still being developed. Please return later for updates!
                </p>
                
            </section>
            <div  style="display: flex; justify-content: center; align-items: center;">
                <a href="../homepage/index.html" style="text-decoration: none; color: black; cursor: pointer;">
                <button style="width: 300px; height: 40px; border-radius: 6px; cursor: pointer;">                   
                        Return    
                </button>
                </a>
            </div>    
        </main>

        <footer>

        </footer>

    </body>
</html>